/* Declare variables */

:root {
    --dark: rgb(116, 0, 170);
    --light: rgb(184, 189, 247);
    --highlight: rgb(255, 255, 255);

}

/* Universal Settings */
* {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

*:active{
    color: var(--highlight)
}


/* Standard Sections */
header {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items:baseline ;
    background-color: var(--dark);
    
}

body {
    /* display: flex; */
    line-height: 1.5;
}

footer {
    background-color: var(--dark);
    border-top: 3px solid var(--light);
    color: var(--light);
    font-size: small;
}

/* Standard Tags */
h1 {
    font: 800;
    font-size: 200%;
    padding: 5px 5px 5px 50px;
    margin: 10px 0;

    color: var(--dark);
    background-color: var(--light);
}


/* Tags in Standard Sections */

nav ul {
    display: flex;
    justify-content: right; 
    flex-wrap: wrap;
    
}

nav a {
    flex-direction: row;
    font-size: 130%;
    color: var(--light);
    background-color: var(--dark);
    padding: 2px 5px 10px 5px ;
    border: 0 0 5px 0 solid var(--light);
    margin: 5px ;
    text-underline: none ;
}



/* Media Responsiveness */

@media (max-width: 800px) {
    header, nav, ul {
      flex-direction: column;
      justify-content:center;
      flex: 100%;
      /* text-align: center; */
    }
  }